.sec-1 {
    background-color: rgb(250, 0, 0, 0.4);
}

#col-1 {
    background-color: rgb(0, 4, 233, 0.4);
}

#col-2 {
    background-color:rgb(190, 55, 190, 0.4);
}

.sec-3 {
    background-color: rgb(252, 235, 4, 0.4);
}